In [7]:
import pandas as pd
import os

In [3]:
# help(pd.read_sql)

In [4]:
postgres_usr = os.environ.get('POSTGRES_USR')
postgres_pwd = os.environ.get('POSTGRES_PWD')
postgres_host = os.environ.get('POSTGRES_HOST')

In [19]:
conn_uri = f'postgresql://{postgres_usr}:{postgres_pwd}@{postgres_host}:5432/postgres'

In [18]:
query = 'SELECT * FROM retail.orders'

In [20]:
pd.read_sql(query, conn_uri)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]

In [21]:
query = '''
    SELECT order_status, COUNT(*) AS order_count
    FROM retail.orders
    GROUP BY 1
    ORDER BY 2 DESC
'''

In [22]:
pd.read_sql(query, conn_uri)

      order_status  order_count
0         COMPLETE        22899
1  PENDING_PAYMENT        15030
2       PROCESSING         8275
3          PENDING         7610
4           CLOSED         7556
5          ON_HOLD         3798
6  SUSPECTED_FRAUD         1558
7         CANCELED         1428
8   PAYMENT_REVIEW          729